<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.Rupeek.com.API.CustomerInfoTestCases"/>
      <class name="org.Rupeek.com.API.AuthTestCases"/>
      <class name="org.Rupeek.com.API.GetCustomerInfoByPhoneTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
